@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.border-top {
  border-top: 10px solid #f8df1f;
}
.body-copy {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #050500;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #050500;
}
body .heading-span {
  text-transform: uppercase;
  color: #ee252f;
}
body .lowercase {
  text-transform: lowercase;
}
body .btn-primary {
  background-color: #f8df1f;
  border-color: #f8df1f;
  color: #050500;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
}
body .btn-primary:hover {
  background-color: #ee252f;
  border-color: #ee252f;
  color: #050500;
}
nav {
  height: 85px;
  background-color: #f8df1f;
  padding-top: 1rem;
  padding-bottom: .5rem;
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  text-decoration: none;
  list-style-type: none;
  padding-right: 40px;
}
nav a {
  color: #050500;
  font-size: 11px;
  font-weight: 500;
}
nav a:hover {
  text-decoration: none;
  color: #050500;
}
@media (min-width: 576px) {
  nav a {
    font-size: 18px;
  }
}
header {
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 325px;
  width: 100%;
  text-align: center;
  color: #383838;
}
header .color-overlay {
  width: 100%;
  height: 100%;
  background: #383838;
  opacity: .33;
}
header .centered {
  position: absolute;
  width: 80%;
  max-width: 445px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 576px) {
  header .centered {
    width: 55%;
  }
}
header .float {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header h1 {
  display: none;
}
.light-grey-bg {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
}
.container {
  padding: 50px 15px;
  width: 100%;
}
.container h2 {
  font-size: 30px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
.container .width {
  width: 60%;
  max-width: 260px;
  padding-left: 50px;
  padding-top: 50px;
}
@media (min-width: 576px) {
  .container .width {
    width: 110%;
    padding-left: 10px;
  }
}
footer {
  background-color: #080801;
  display: flex;
  justify-content: center;
  border-top: 10px solid #f8df1f;
}
footer img {
  width: 80%;
  max-width: 465px;
  padding: 20px;
}
@media (min-width: 576px) {
  footer img {
    width: 55%;
  }
}
