@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
}
body .btn-primary {
  background-color: #f8df1f;
  border-color: #f8df1f;
  color: #050500;
  padding: 5px 20px;
  text-transform: uppercase;
}
body .btn-primary:hover {
  background-color: #ee252f;
  border-color: #ee252f;
  color: #050500;
}
.heading-span {
  text-transform: uppercase;
  color: #ee252f;
}
nav {
  height: 65px;
  background-color: #f8df1f;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-content: center;
}
nav li {
  text-decoration: none;
  list-style-type: none;
  padding-right: 40px;
}
nav a {
  color: #050500;
  font-size: 18px;
  font-weight: 500;
}
nav a:hover {
  text-decoration: none;
  color: #050500;
}
header {
  position: relative;
  text-align: center;
  color: #3B3838;
}
header .banner {
  position: relative;
  width: 100%;
}
header .centered {
  position: absolute;
  width: 30%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header h1 {
  display: none;
}
