@import 'mixins';

body {
    .body-copy();

    .heading-span {
        text-transform: uppercase;
        color: @red; 
    }

    .lowercase {
        text-transform: lowercase;
    }

    .btn-primary {
        background-color: @yellow;
        border-color: @yellow;
        color: @link-black;
        padding: 5px 20px;
        text-transform: uppercase;
        font-size: 18px; 
        font-weight: 500;
        border-radius: 8px;
        &:hover {
            background-color: @red;
            border-color: @red;
            color: @link-black;
        }
    }          
}

nav {
    height: 85px; 
    background-color: @yellow;
    padding-top: 1rem;
    padding-bottom: .5rem;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
    }

    li {
        text-decoration: none;
        list-style-type: none;
        padding-right: 40px;
    }

    a {
        color: @link-black;
        font-size: 11px; 
        font-weight: 500;
        &:hover
            {
                text-decoration: none;
                color: @link-black; 
            }
        @media (min-width: 576px) {
                font-size: 18px;
            }
    }   
}

header {
    background-image: url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    position: relative;
    height: 325px; 
    width: 100%; 
    text-align: center; 
    color: #383838;

    .color-overlay {
        width: 100%; 
        height: 100%; 
        background: #383838; 
        opacity: .33; 
    }

    .centered {
        position: absolute;
        width: 80%;
        max-width: 445px;
        top: 30%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        @media (min-width: 576px) {
            width: 55%; 
        }
    }

    .float {
        position: absolute;
        top: 68%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }

    h1 {
        display: none; 
    }
}

.light-grey-bg {
    background-color: @light-grey;
    width: 100%; 
    height: 100%;
}

.container {
    padding: 50px 15px;
    width: 100%; 
    h2 {
        font-size: 30px; 
        color: @link-black; 
        font-weight: 500;
        text-transform: uppercase;
    }

    .width {
        width: 60%;
        max-width: 260px; 
        padding-left: 50px; 
        padding-top: 50px;
        @media (min-width: 576px) {
            width: 110%;
            padding-left: 10px;
        }
    }
}

footer {
    background-color: @black;
    display: flex;
    justify-content: center;
    .border-top();
    img {
        width: 80%;
        max-width: 465px;
        padding: 20px;
        @media (min-width: 576px) {
            width: 55%; 
        }
    }
}






