//Colors 
@black: #080801;
@link-black: #050500;
@red: #ee252f; 
@yellow: #f8df1f; 
@light-grey: #f3f3f3; 

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@primary-font: 'Roboto', sans-serif;